
* {
    width: 0px;
    height: 0px;
    box-sizing: border-box;
 }

 div.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
 }

 .child {
    width: 20%;
    height: 200px;
    background-color: red;
    border: 1px solid black;
 }